:root {
	--white: #fff;
	--black: #2c3e50;
	--btn: #e53935;
	--vh: calc(100);
}

body { 
	font-family: "Inter", sans-serif;
	background-color: var(--black);
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100vw;
	height: 100vh;

	.block {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--white);
		border-radius: 8px;
		p {
			padding: 5%;
			padding-bottom: 0;
			color: var(--black);
			text-align: center;
			font-size: calc(1px + 1 * (100vw / 20)); 
		}

		.numberQuestionP {
			display: flex;
			flex-direction: row;
			p {
				font-size: calc(1px + 1 * (100vw / 40)); 
			}
			padding: 0; 
		}

		.btn {
			display: flex;
			align-items: center;
			justify-content: center; 
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 3%;
				border: none;
				border-radius: 8px;
				background-color: var(--btn);
				width: 20vw;
				height: 6vh;
				font-size: 3vh;
				color: var(--white);
			}
		}
	}
	.result {
		background-color: var(--white);
		border-radius: 8px;
		color: var(--black);
		padding: 5%;
		width: 90%;
		display: none;
		font-weight: 800;
		font-size: calc(1px + 1 * (100vw / 30));
	}
}
